---
layout: landing
scripts:
  - https://code.jquery.com/jquery-3.3.1.slim.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js
  - https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js
  - https://checkout.stripe.com/checkout.js
css:
  - https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css
noindex: true
prix_mini_ttc: 24
prix_mini_ht: 20
prix_conseil_ttc: 72
prix_conseil_ht: 60
---
<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>{{ site.title }}</h2>
			<p>{{ site.description | markdownify }}</p>
			<ul class="actions">
				<li><a href="#one" class="button special">En savoir plus</a></li>
				<li><a href="#" class="button special">Commander</a></li>
			</ul>
		</div>
		<a href="#one" class="more scrolly">Plus d'information</a>
	</section>

<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<header class="major">
				<h2>Le projet</h2>
				<p>Dégaine est un compte à rebours électronique à deux faces conçu pour m'aider à suivre le temps lorsque je donne une conférence ou que j'anime un atelier. 
				L'information est dupliquée de chaque côté la rendant plus facilement accessible à l'ensemble des participant⋅e⋅s.</p>

				
				<p>L'ensemble du projet est open source sous licence MIT et accessible sur <a href=https://gitlab.com/avernois/degaine>gitlab</a>.</p>

				<p>Dégaine est actuellement en pré-commande. Les premièrs envois sont prévus pour courant mai.</p>
			</header>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
				<h2>Fonctionnalités</h2>
				<ul>
						<li> Décompte du temps en minutes, de 0 à 99 minutes.
						<li> Affichage identique des 2 côtés.
						<li> Changement de couleur pour signaler 50%, 90% et 100% du temps écoulés.
						<li> Choix du côté d'affichage (les 2 par défaut).
						<li> arduino complet accessible en ouvrant le boitier.
						<li> un unique bouton, qu'on pousse et qu'on tourne.
						<li> (peut-être) plus à venir ?
					</ul>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/pic02.jpg" alt="" /></div>
			<div class="content">
				<h2>Détails techniques</h2>
				Dégaine étant toujours en développement, ces données sont suceptibles de varier légèrement.
				<ul>
					<li> taille: 152x100x33mm.
						<li> poids : 195g.
							<li> alimentation (non fournie) : 5v, 500mA, micro-USB.
								<li> le boitier, le bouton et la structure interne sont en bois. Le bois est poncé, mais reste nature (pas de vernis/peinture/protection).
									<li> le diffuseur est en papier.
									</ul>
								</div>
							</section>
		<section class="spotlight">
				<div class="image"><img src="images/pic03.jpg" alt="" /></div>
				<div class="content">
					<h2>Prix libre</h2>
					<p>C'est vous qui choisissez le prix.</p>
					<p>Des infos pour vous aider à choisir :</p>
					<ul>
						<li>24€ TTC : c'est le prix de revient des matériaux plus les frais de port pour la France.</li>
						<li>72€ TTC : Ça couvre en plus le temps de fabrication : découpe, collage, ponçage de la structure bois, soudure des composants, test de l'ensemble.
								À ce prix, si c'était mon activité à plein temps, les bénéfices me permettent de payer toutes mes factures.
						</li>
					</ul>
				</div>
		</section>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>Pré-commander</h2>
				<p>Dégaine est actuellement en pré-commande. Les premières livraisons sont prévues pour courant mai.</p>
			</header>

			<h3>Par carte bancaire</h3>
			Fixer votre prix (TTC) dans le formulaire ci-dessous, appuyer sur le bouton "Payer" et c'est parti.
			Une fenêtre s'ouvrira pour vous permettre de préciser vos coordonnées[^1] et vos infos bancaires[^7].

			Si tout se passe bien, vous serez ensuite redirigé vers une page indiquant le succès de la commande[^2].
			<br>
			<!-- Modal -->
			<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
						<div class="loader-txt">
							<p>Le payement est en cours d'exécution. Merci de patienter.<br><br>
							<small>Vous serez rapidement redirigé vers une page vous informant du résultat de l'opération.</small></p>
						</div>
					</div>
				</div>
			</div>
			</div>

			<form action="{{ site.pay_server }}/charge/degaine" method="POST" class="form-inline justify-content-md-center"> 
				<label for="amount" class="col-sm-2 col-form-label">Montant</label>
				<div class="input-group">
					<input type="number" class="form-control col-4" id="amount" name="amount" value="{{ page.prix_conseil_ttc }}">
					<div class="input-group-append">
					<div class="input-group-text">€</div>
					</div>
					<div class="invalid-feedback" id="error"></div>
				</div>
				<input type="hidden" name="stripeToken" id="stripeToken">
				<input type="hidden" name="stripeEmail" id="stripeEmail">
				<input type="hidden" name="stripeBillingName" id="stripeBillingName">
				<input type="hidden" name="stripeBillingAddressLine1" id="stripeBillingAddressLine1">
				<input type="hidden" name="stripeBillingZip" id="stripeBillingZip">
				<input type="hidden" name="stripeBillingCity" id="stripeBillingCity">
				<input type="hidden" name="stripeBillingCountry" id="stripeBillingCountry">
				<input type="hidden" name="stripeBillingState" id="stripeBillingState">
				<input type="hidden" name="stripeBillingCountryCode" id="stripeBillingCountryCode">
				<input type="hidden" name="redirectOnPaymentSuccess" value="{{ site.url }}/degaine/success">

				<input type="hidden" name="redirectOnUnknownException" value="{{ site.url }}/degaine/500">
				<input type="hidden" name="redirectOnBelowAmount" value="{{ site.url }}/degaine/belowAmount">
				<input type="hidden" name="redirectOnNoneToSell" value="{{ site.url }}/degaine/noneToSell">
				<input type="hidden" name="redirectOnPaymentProcess" value="{{ site.url }}/degaine/paymentException">
				<input type="hidden" name="redirectOnUnexistingProduct" value="{{ site.url }}/degaine/unexistingProduct">

				<button type="submit" class="special" id="donate">Pré-commander</button>
			</form>
		

		<h3>Autres moyens de paiment</h3>
		<p>Il est aussi possible de payer par virement ou par chèque (en Euros émis en France). 
			Pour cela, utilisez le formulaire ci-dessous pour me contacter, je vous fournirai les informations nécessaires.</p>
		</div>
	</section>
	
<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>Contact</h2>
				
				<p>Pour toutes questions, suggestions ou informations complémentaire, vous pouvez me contacter :</p>
				<ul>
					<li>via twitter <a href=https://twitter.com/avernois>@avernois</a> (mes dms sont ouverts)</li>
					<li>par e-mail hello@crafting-labs.com</li>
					<li>ou en utilisant ce formulaire :</li>
				</ul>

			<form action="//formspree.io/hello@crafting-labs.com" method="POST">
				<div class="row uniform">
					<input name="_subject" id="_subject" type="hidden" value="[Dégaine] Informations" />
					<input type="text" name="_gotcha" style="display:none" />
					<input type="hidden" name="_next" value="/merci/" />

					<div class="6u 12u$(xsmall)">
						<input type="text" name="demo-name" id="demo-name" value="" placeholder="Nom" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="_replyto" id="demo-email" value="" placeholder="Email" />
					</div>
					
					<div class="12u$">
						<textarea name="demo-message" id="demo-message" placeholder="Votre message" rows="6"></textarea>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input type="submit" value="Envoyez" class="special" /></li>
						</ul>
					</div>
				</div>
			</form>
			</header>
		</div>
	</section>




	<script>
			const stripe_public_token = "{{ site.stripe_public_key }}";
			  function setMinimumAmountMessage() {
			  document.getElementById("amount").classList.add("is-invalid")
				  document.getElementById("error").innerHTML="le montant doit &ecirc;tre minimum de "+ minimum + " euros.";
			  }
			  function clearMessage() {
				  document.getElementById("error").innerHTML="";
			  }
			  const minimum = {{ page.prix_mini_ttc }};
			  var handler = StripeCheckout.configure({
				  key: stripe_public_token,
				  locale: 'auto',
				  name: 'Crafting Labs',
				  description: 'dégaine',
				  shippingAddress: false,
				  billingAddress: true,
				  currency: "EUR",
				  zipCode: true,
		  
				  token: function(token, args) {
					  document.querySelector('input#stripeToken').value = token.id;
					  document.querySelector('input#stripeEmail').value = token.email;
					  document.querySelector('input#stripeBillingName').value =  args.billing_name;
					  document.querySelector('input#stripeBillingCountry').value =  args.billing_address_country;
					  document.querySelector('input#stripeBillingZip').value =  args.billing_address_zip;
					  document.querySelector('input#stripeBillingState').value =  args.billing_address_state;
					  document.querySelector('input#stripeBillingAddressLine1').value =  args.billing_address_line1;
					  document.querySelector('input#stripeBillingCity').value =  args.billing_address_city;
					  document.querySelector('input#stripeBillingCountryCode').value =  args.billing_address_country_code;
					  
					  document.querySelector('form').submit();
					  $('#loadMe').modal({backdrop: 'static', show: true});
					  console.log("FORM is submitted");
					  console.log(JSON.stringify(token));
					  console.log(JSON.stringify(args));
					  
				  }
			  });
			  const button = document.getElementById("donate");
			  button.onclick = function (e) {
				  e.preventDefault();
				  var amount = document.querySelector('input#amount').value;
				  amount = amount.replace(/\$/g, '').replace(/\,/g, '');
				  amount = parseFloat(amount);
				  console.log("montant: " + amount);
					  if(amount >= minimum) {
					  document.getElementById("amount").classList.remove("is-invalid")
					  handler.open({
								amount: Math.round(amount*100)
						})
					  } else {
							setMinimumAmountMessage();
		  
					  }
			  };
		  </script>
		  